:root {    
    --padding: 50px 25px;

    --border-color: #999;
    --border-color-light: #ddd;
    --border-radius: 3px;

    --font-color-main: #555;
    --font-color-context: #999;
    
    --button-background-color: #333;
    --button-background-color-active: #666;

    --shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

html {
    min-height: 100%;
}

body {
    position: relative;
    max-width: 1680px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    text-align: left;
    font-family: 'Roboto', serif;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--font-color-main);
}

header {
    position: fixed;
    z-index: 2;
    top: 50px;
    left: 50px;
    max-width: 250px;
    padding: 50px;
}

body.index header {
    background-color: #fff;

}

header button {
    all: unset;
    display: none;
    position: absolute;
    z-index: 1;
    left: 25px;
    cursor: pointer;
}

header button svg {
    height: 1.25rem;
    fill: #666;
}

header nav ul {
    margin: 0 0 3rem 0;
    padding: 0;
    list-style: none;
}

header nav ul:last-of-type {
    margin-bottom: 0;
}

header nav ul.main li {
    margin: 0;
    padding: 0;
}

header nav ul.meta li a {
    font-size: 0.9rem;
}

header nav ul.meta li a svg {
    height: 1.25rem;
    margin-top: -0.15rem;
    margin-right: 0.3em;
    vertical-align: middle;
    fill: #333;
}

header nav ul.meta li a:hover svg {
    fill: #000;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header nav ul li:hover a,
header nav ul li.active a {
    color: #000;
}

header nav ul li.active a {
    font-weight: bold;
}

main {
    margin-left: 350px;
    margin-right: 100px;
    padding: 0 50px;
}

h1 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
}

h2 {
    margin: 0 0 0.75em 0;
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    margin: 0 0 0.75em 0;
    font-size: 1rem;
    color: #000;
}

h3:not(:first-of-type) {
    margin-top: 3rem;
}

h4 {
    margin: 0 0 0.25em 0;
    font-size: 1rem;
    color: #000;
}

p {
    margin: 0 0 1.5em 0;
}

blockquote {
    margin: 0 0 1.5em 0;
    font-style: italic;
}

blockquote cite {
    white-space: nowrap;
    color: var(--font-color-context);
}

figure {
    position: relative;
    width: 100%;
    margin: 0;
}

video,
figure img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

a {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-color: inherit;
    color: inherit;
}