:root {
    --background: #fff;

    --font-color-nav: #757B82;
    --font-color-nav-active: #333E4C;
    --border-color-nav-limiter: #333E4C;
    --border-color-nav-bottom: transparent;

    --icon-color-nav: #757B82;
    --icon-color-nav-active: #333E4C;

    --font-color-main: #757B82;
    --font-color-headline: #333E4C;
    --font-color-context: #C0C2C5;

    --button-background-color: #333E4C;
    --button-background-color-active: #212121;
    
    --accent-color: #757B82;
    --border-color: #ccc;
}

html {
    min-height: 100%;
}

body {
    margin: 5rem 0 0 0;
    padding: 50px 25px 0 25px;
    background: var(--background);
    text-align: center;
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 26px;
    color: var(--font-color-main);
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 75px;
    border-bottom: 1px solid var(--border-color-nav-bottom);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

header nav {
    position: relative;
    margin: 0 auto;
    text-align: left;
}

header nav button {
    all: unset;
    display: none;
    position: absolute;
    z-index: 1;
    margin: 25px 0 15px 25px;
    cursor: pointer;
}

header nav button svg {
    height: 1.25rem;
    fill: var(--font-color-context);
}

header nav ul.main {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul.main li {
    position: relative;
    margin: 1em 1.5em;
    padding: 0;
    display: inline-block;
}

header nav ul.main li:first-child {
    margin-left: 0;
}

header nav ul.main li:before {
    position: absolute;
    top: 0;
    left: -1.75rem;
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--border-color-nav-limiter);
    transform: rotate(25deg);
    content: '';
}

header nav ul.main li:first-child:before {
    display: none;
}

header nav ul.main li a {
    text-decoration: none;
    color: var(--font-color-nav);
}

header nav ul.meta {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul.meta li {
    margin: 1em 0 1em 1.5em;
    padding: 0;
    display: inline-block;
}

header nav ul.meta li a {
    text-decoration: none;
    font-size: 0.9rem;
}

header nav ul.meta li a svg {
    height: 1.25rem;
    margin-top: -0.15rem;
    margin-right: 0.3em;
    vertical-align: middle;
    fill: var(--icon-color-nav);
}

header nav ul.meta li a:hover svg {
    fill: var(--icon-color-nav-active);
}

header nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    transition: 300ms opacity;
}

header nav ul li:hover a,
header nav ul li.active a {
    color: var(--font-color-nav-active);
}

header nav ul li.active a {
    font-weight: bold;
}

main {
    padding: 0 50px;
}

section {
    max-width: 960px;
    margin: 0 auto 3em auto;
}

section:last-of-type {
    margin-bottom: 0;
}

h1 {
    margin: 0 auto 2.5em auto;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--font-color-headline);
}

p {
    margin: 0 0 1.5em 0;
}

h1 + p:not(.no-teaser) {
    margin: -3em 0 3.5em 0;
}

h1 + p.no-teaser {
    margin-top: -3em;
}

blockquote {
    margin: 0 0 1.5em 0;
}

blockquote:before {
    display: block;
    margin-bottom: 0.4em;
    content: '❡';
    content: '„';
    font-style: normal;
    font-size: 4em;
    color: var(--font-color-context);
}

blockquote cite {
    display: block;
    white-space: nowrap;
    color: var(--font-color-context);
}

figure {
    width: 100%;
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

a {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-color: inherit;
    color: inherit;
}

small {
    font-size: 1em;
    color: var(--font-color-context);
}

footer {
    margin: 3rem 0 1em 0;
    font-size: 0.9rem;
}

footer ul {
    display: inline-block;
    max-width: auto;
    margin: 0;
    padding: 0.25em 1em 0 1em;
    border-top: 1px solid var(--border-color);
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: var(--font-color-context);
}