/*
    Common
*/

div.block {
    padding: var(--padding);
}

main > div.block {
    padding-top: 100px;
}

div.columns {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 50px;
}

div.columns > div {
    max-height: 100vh;
    padding: var(--padding);
    overflow-y: auto;
}

div.columns > div::-webkit-scrollbar {
    display: none;
}

div.columns div.cover figure {
    width: calc(100% + var(--padding) * 2);
    max-width: none;
    margin-right: -25px;
    margin-left: -25px;
}

div.columns div.content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.width-m {
    max-width: 450px;
}

.width-l {
    max-width: 960px;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.margin-bottom-l {
    margin-bottom: 3rem;
}

.button {
    padding: 0.25rem 1rem;
    background-color: var(--button-background-color);
    border-radius: var(--border-radius);
    text-decoration: none;
    color: #fff;
}

.button:hover {
    background-color: var(--button-background-color-active);
}

.no-wrap {
    white-space: nowrap;
}

.border-top {
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--border-color);
}

.border-bottom {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-color);
}

.shadow {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.text-smaller {
    font-size: 0.9em;
    line-height: 1.5em;
}

.text-italic {
    font-style: italic;
}

.text-left {
    text-align: left;
}

.text-justify {
    hyphens: auto;
    text-align: justify;
}

.text-context {
    color: var(--font-color-context);
}

.no-decoration {
    text-decoration: none;
}

.hyphens {
    hyphens: auto;
}

div.announcement {
    position: absolute;
    z-index: 2;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em 1em;
    background: #1a1a1a;
    font-family: 'Courier New', monospace;
    font-size: 1.5rem;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    color: #fff;
}

div.video-background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.video-background video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/*
    Tag list
*/

ul.tags {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tags li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: var(--font-color-context);
}

/*
    Simple list
*/

ul.simple {
    margin: 0 0 1.5rem 0;
    padding: 0 0 1.5rem 0;
    list-style: none;
}

ul.simple span.text-context {
    /* display: block; */
    /* margin-top: 0.75rem; */
    padding-right: 0.5em;
}

/*
    Releases
*/

div.releases {
    display: flex;
    gap: 100px;
    padding-top: 50px;
    margin: 1.5rem auto;
}

div.releases > div {
    flex: 1;
}

div.releases a {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

div.releases a span.title {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    transform: rotate(90deg);
    transform-origin: left bottom;
    margin-left: 5px;
    white-space: nowrap;
    font-size: 0.9em;
    color: var(--font-color-context);
}

div.releases a img {
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

div.release figure {
    margin-bottom: 50px;
}

div.release figure img,
div.release figure video {
    width: 100%;
    box-shadow: var(--shadow);
}

/*
    Posts
*/

div.posts {
    max-width: 640px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: none;
    padding-top: 50px;
    overflow: visible;
}

div.posts > div {
    text-align: left;
    width: 100%;
    height: auto;
    max-height: none;
    overflow: visible;
    margin-bottom: 1.5rem;
    padding: 0;
}

div.posts a.teaser-image img,
div.posts a.teaser-image video {
    max-width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

div.posts div.teaser-text {
    padding: 1.75em 20px;
}

div.posts div.teaser-text h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    color: var(--font-color-headline);
}

div.posts div.teaser-text h3 a {
    text-decoration: none;
    color: inherit;
}

div.posts div.teaser-text p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

div.posts div.teaser-text time {
    display: none;
}

div.posts div.teaser-text ul.tags {
    display: inline-block;
}

div.post {
    max-width: 640px;
    max-height: none;
    margin: 0 auto;
    padding-top: 50px;
}

div.post.auto-width {
    max-width: none;
    margin-left: 50px;
}

div.post h1 {
    text-align: left;
    padding: 0 20px;
}

div.post p {
    padding: 0 20px;
}

div.post figure {
    max-width: none;
    margin-bottom: 1.5rem;
}

div.post figure img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

div.post iframe {
    margin-bottom: 1.5rem;
}