/*
    Common
*/

.width-m {
    max-width: 450px;
}

.width-l {
    max-width: 960px;
}

.button {
    padding: 0.25rem 1rem;
    background-color: var(--button-background-color);
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
}

.button:hover {
    background-color: var(--button-background-color-active);
}

.no-wrap {
    white-space: nowrap;
}

.border-top {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1px 0;
}

.border-bottom {
    margin-bottom: 6rem;
    padding-bottom: 1.5rem;
}

/*
    Heading
*/

.heading {
    margin: 2rem 0 6rem 0;
}

.heading:after {
    display: block;
    width: 3rem;
    margin: 1.5rem auto;
    border-bottom: 1px solid var(--accent-color);
    content: '';
}

/*
    Link list
*/

ul.listen {
    margin: 0 0 1.5em 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1em;
}

ul.listen li {
    margin-bottom: 0.75em;
}

ul.listen li a {
    padding: 0.25em 0.75em;
    background-color: var(--button-background-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
}

ul.listen li a:hover {
    background-color: var(--button-background-color-active);
}

/*
    Tag list
*/

ul.tags {
    margin: 0 0 0.5rem;
    padding: 0;
    list-style: none;
}

ul.tags li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: var(--font-color-context);
}

ul.tags li:before {
    content: '#';
}

/*
    Releases
*/

div.releases {
    display: flex;
    gap: 50px;
    margin: 0 auto;
    margin-top: 3rem;
}

div.releases section {
    flex-shrink: 1;
    max-width: 420px;
}

div.releases section a {
    text-decoration: none;
}

div.releases section img {
    max-width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

section.release {
    max-width: 450px;
}

section.release figure img {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

section.release figure figcaption {
    margin: 0.1em 0 0.5em 0;
    font-size: 2.5em;
    line-height: 0.85em;
    text-align: center;
    font-style: italic;
}

section.release figure figcaption small {
    font-size: 0.4em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

/*
    Posts
*/

div.posts {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: 0 auto;
    width: 100%;
}

div.posts section {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

div.posts section img {
    max-width: 100%;
    border-radius: 5px;
}

div.posts section div.teaser {
    padding: 0.75em 20px;
}

div.posts section div.teaser h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    color: var(--font-color-headline);
}

div.posts section div.teaser h3 a {
    text-decoration: none;
    color: inherit;
}

div.posts section div.teaser p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

div.posts section div.teaser time {
    font-size: 0.9em;
    color: var(--font-color-context);
}

section.post {
    max-width: 640px;
}

section.post p {
    hyphens: auto;
    text-align: justify;
}

section.post iframe {
    margin-bottom: 3rem;
}