body {
    margin: 7.5% 0 2.5% 0;
    padding: 0 25px;
    background-color: #eee;
    text-align: center;
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 26px;
    color: #666;
}

section {
    max-width: 500px;
    margin: 0 auto 4.5em auto;
}

p {
    margin: 0 0 1.5em 0;
}

blockquote {
    margin: 0 0 1.5em 0;
}

blockquote:before {
    display: block;
    margin-bottom: 0.4em;
    content: '❡';
    content: '„';
    font-style: normal;
    font-size: 4em;
    color: #999;
}

blockquote cite {
    display: block;
    white-space: nowrap;
    color: #999;
}

figure {
    width: 100%;
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

figcaption {
    margin: 0.1em 0 0.5em 0;
    font-size: 2.5em;
    line-height: 0.85em;
    text-align: center;
    font-style: italic;
}

figcaption small {
    font-size: 0.4em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

ul {
    margin: 0 0 1.5em 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1em;
}

ul li {
    margin-bottom: 0.75em;
}

ul li a {
    padding: 0.25em 0.75em;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #666;
    color: #fff;
}

a {
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-color: #ccc;
    color: inherit;
}

small {
    font-size: 1em;
    color: #999;
}

footer {
    max-width: 450px;
    margin: 1.5% auto 0 auto;
    padding-top: 1.5em;
}

footer a {
    text-decoration: none;
    text-decoration-color: inherit;
}

footer a:hover {
    text-decoration: underline;
}