<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>%title% — Nico Less</title>

		<link href="/templates/fonts/roboto-v20-latin/loader.css" rel="stylesheet">
		<link href="/templates/fonts/crete-round-v15-latin/loader.css" rel="stylesheet">
		<link href="/templates/master.20250114.css" rel="stylesheet">
		<link href="/templates/standards.20241102.css" rel="stylesheet">

		<script defer src="https://cloud.umami.is/script.js" data-website-id="b5aaadf3-7a4e-45da-876c-99092cf6ff5b"></script>
	</head>

	<body>
		%component%

		<footer>
			<p><small>Consider buying albums – you get free and unlimited streaming, and your money supports the artist rather than the streaming platform.</small></p>
			<p><a href="https://nicoless.bandcamp.com/contact?b=4146593495" data-umami-event="Bandcamp Contact (Moving)">Contact</a></p>
		</footer>
	</body>
</html>
